[user]
	email = alexfertel97@gmail.com
	name = Alexander Gonzalez

[alias]
	co = checkout

[core]
	editor = nvim

[credential]
	helper = cache --timeout=31557600

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true
    line-numbers = true
    side-by-side = true

[interactive]
    diffFilter = delta --color-only

[pull]
	rebase = false
[push]
	autoSetupRemote = true
